# Desafio de Código DIO

# Neste desafio devemos fazer um processo de ETL (Extract, Transform and Load)

# Descrição do Projeto:

imaginemos que estamos trabalhando como cientistas/analistas de dados em uma empresa do ramo financeiro. Esta empresa cuida das carteiras de investimentos de seus clientes e como o mercado financeiro é bastante volátil é necessário estar sempre atento aos movimentos da economia. Um agente de negócios está com dúvidas se deve ou não recomendar a compra de Ações do Itaú para seus clientes e veio até pedindo para que fosse disponilizada uma planilha com os registro semanais dos indicadores de preços das ações.


# passo a passo

- Buscar dados das ações através uma API (Alpha Advantage API)

- Tratar os dados e construir a planilha que nos foi pedida.

- Carregar essa planilha em formato xlsx em uma pasta.

In [40]:
# Vamos importar as bibliotecas que serão necessárias para o ETL

import requests
import pandas as pd
from io import StringIO
import datetime as dt

In [41]:
# Vamos utilizar a API da Alpha advantage, que possui uma versão gratuita https://www.alphavantage.co/

Api_key = "BKF6KQP5IGY1H824" #Com esta chave vamos nos autenticar na API. É possível requisitar uma Api key no site da Aplha Advantage

url = f'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY_ADJUSTED&symbol=ITSA3.SAO&apikey={Api_key}&datatype=csv' #Este é o End Point para requisitar informações semanais das ações do Itaú

r = requests.get(url) #Fazemos uma requisição para a Api que nos retorna as informações em CSV

In [42]:
# Vamos transformar as informações para CSV

acoes = pd.read_csv(StringIO(r.text)) #Usamos o StringIO para salvar as informações

# Vamos conferir o resultado
acoes.head()

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2023-09-19,9.430,9.5500,9.38,9.41,9.4100,104500,0.0000
1,2023-09-15,9.500,9.6700,9.08,9.42,9.4200,1686500,0.0000
2,2023-08-25,9.420,9.6500,9.31,9.46,9.4600,554600,0.0000
3,2023-08-18,9.618,9.7076,9.38,9.42,9.4200,1817402,0.0235
4,2023-08-11,9.830,10.0100,9.57,9.67,9.6464,911500,0.0000

In [43]:
# Vamos conferir os tipos dos dados da ações
acoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        996 non-null    object
 1   open             996 non-null    float64
 2   high             996 non-null    float64
 3   low              996 non-null    float64
 4   close            996 non-null    float64
 5   adjusted close   996 non-null    float64
 6   volume           996 non-null    int64
 7   dividend amount  996 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 62.4+ KB

In [44]:
# Uma vez que precisamos retornar apenas os dados referentes à 2023 precisamos tratar a coluna que nos dá essa informação

acoes['timestamp'] = pd.to_datetime(acoes['timestamp']) # Transformamos o tipo de dado da coluna timestamp para filtrar o ano de 2023

# Filtrando o ano de 2023

acoes = acoes.loc[acoes['timestamp'].dt.year == 2023]

#Visualizando a tabela

display(acoes)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
0,2023-09-19,9.430,9.5500,9.38,9.41,9.4100,104500,0.0000
1,2023-09-15,9.500,9.6700,9.08,9.42,9.4200,1686500,0.0000
2,2023-08-25,9.420,9.6500,9.31,9.46,9.4600,554600,0.0000
3,2023-08-18,9.618,9.7076,9.38,9.42,9.4200,1817402,0.0235
4,2023-08-11,9.830,10.0100,9.57,9.67,9.6464,911500,0.0000
5,2023-08-04,9.970,10.1200,9.80,9.84,9.8160,971500,0.0000
6,2023-07-28,9.990,10.1800,9.82,9.97,9.9457,635600,0.0515
7,2023-07-21,9.750,10.0800,9.69,9.98,9.9040,835400,0.0000
8,2023-07-14,9.880,9.9800,9.66,9.75,9.6757,750900,0.0000
9,2023-07-07,9.760,9.9800,9.74,9.87,9.7948,652400,0.0000
10,2023-06-30,9.760,9.8300,9.55,9.74,9.6658,454600,0.0000
11,2023-06-23,9.720,10.0500,9.65,9.77,9.6956,917600,0.1144
12,2023-06-16,9.350,9.8900,9.32,9.65,9.4669,1296300,0.0000
13,2023-06-09,9.200,9.3900,9.13,9.39,9.2118,454700,0.0000
14,2023-06-02,9.120,9.2400,8.88,9.20,9.0255,527300,0.0235
15,2023-05-26,9.070,9.2600,8.97,9.06,8.8650,398000,0.0000
16,2023-05-19,9.070,9.2100,8.99,9.07,8.8748,505900,0.0000
17,2023-05-12,8.800,9.1600,8.47,9.03,8.8356,1536000,0.0000
18,2023-04-29,8.600,8.8400,8.59,8.80,8.6106,738200,0.0000
19,2023-04-20,8.770,8.8200,8.60,8.62,8.4344,306800,0.0000
20,2023-04-14,8.230,8.8200,8.23,8.77,8.5812,793000,0.0000
21,2023-04-06,8.330,8.3900,8.19,8.22,8.0431,398800,0.0000
22,2023-03-31,8.200,8.4000,8.10,8.33,8.1507,706100,0.0000
23,2023-03-24,8.170,8.3000,7.93,8.13,7.9550,688500,0.0773
24,2023-03-17,8.330,8.3300,8.05,8.17,7.9184,903100,0.0000
25,2023-03-10,8.300,8.5100,8.24,8.33,8.0735,869600,0.0000
26,2023-03-03,8.550,8.6100,8.14,8.25,7.9959,635500,0.0235
27,2023-02-24,8.860,8.9000,8.55,8.55,8.2634,309000,0.0000
28,2023-02-17,8.670,9.0200,8.67,8.86,8.5630,591900,0.0000
29,2023-02-10,8.590,9.0400,8.28,8.67,8.3794,1103200,0.0000
30,2023-02-03,8.800,8.8700,8.54,8.59,8.3020,1420800,0.0000
31,2023-01-27,8.970,9.0100,8.73,8.80,8.5050,1061500,0.0000
32,2023-01-20,9.010,9.1200,8.81,8.99,8.6886,909200,0.0000
33,2023-01-13,8.900,9.1200,8.70,9.02,8.7176,632600,0.0000
34,2023-01-06,8.770,8.9900,8.63,8.90,8.6016,492700,0.0000

- O agente de negócios pediu para fazer uma última correção: Exportar para a planilha apenas as ações com valor de entrada acima de R$ 9,50.

In [45]:
# Buscando as ações com valor de entrada acima de R$9,50


acoes = acoes.loc[acoes['open'] > 9.5]

In [46]:
# Visualizando a correção

display(acoes)

,timestamp,open,high,low,close,adjusted close,volume,dividend amount
3,2023-08-18,9.618,9.7076,9.38,9.42,9.4200,1817402,0.0235
4,2023-08-11,9.830,10.0100,9.57,9.67,9.6464,911500,0.0000
5,2023-08-04,9.970,10.1200,9.80,9.84,9.8160,971500,0.0000
6,2023-07-28,9.990,10.1800,9.82,9.97,9.9457,635600,0.0515
7,2023-07-21,9.750,10.0800,9.69,9.98,9.9040,835400,0.0000
8,2023-07-14,9.880,9.9800,9.66,9.75,9.6757,750900,0.0000
9,2023-07-07,9.760,9.9800,9.74,9.87,9.7948,652400,0.0000
10,2023-06-30,9.760,9.8300,9.55,9.74,9.6658,454600,0.0000
11,2023-06-23,9.720,10.0500,9.65,9.77,9.6956,917600,0.1144

In [50]:
# Vamos salvar estas informações para o agente de negócios

Itau3 = 'acoes_semanais_2023.xlsx'

acoes.to_excel(Itau3, index=False) #Por padrão o arquivo ficará salvo no mesmo diretório do código, mas poderíamos passar o caminho de uma pasta compartilhada

In [ ]:
# Arquivo gerado pode ser acesso no link https://docs.google.com/spreadsheets/d/1J-6Z6hHJK6fj5F21poYCnp1-w2ErUMerxVx7Cupq9GQ/edit#gid=1530441486